.card{
    box-shadow: 1px 5px 0px 2.5px rgba(141, 153, 174);
    border-radius: 5px;
    width: 20%;
}

.card:hover{
    box-shadow: 1px 5px 0px 2.5px rgba(43, 45, 66);
}

.container{
    padding: 10px;
}

ul{
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(141, 153, 174);
    padding: 0;
}

li{
    text-align: center;
}

li a{
    display: block;
    margin: 2px;
    text-decoration: none;
}


li a:hover{
    background-color: rgb(43, 45, 66);
}
